# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf

# General
*.tdo
*.out
*.log

# Artifacts and data
/data/
build
_build
dist
*.feather

# Editors
.vscode
.idea
.venv

# R
*.RData
*.Rhistory
*.rds

# Python
venv
*.pyc
.pytest_cache
__pycache__
*.egg-info