# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf

# General
*.tdo
*.out
*.log

# Artifacts and data
build
_build
dist

# Editors
.vscode
.idea

# R
*.RData
*.Rhistory

# Python
venv
*.pyc
.pytest_cache
__pycache__
*.egg-info
.venv
timeline_db_main_hookworm.rds
ascaris_monitor_age.rds
timeline_db_main_ascaris.rds
hookworm_monitor_age.rds
drug_efficacy_*.csv